body {
    background-color: whitesmoke;
    border: #C0C0C0;
    border-radius: 1px;
    padding: auto;
  }
header{
    border-style: solid;
    border-width: 1px;
    width:auto;
    height:auto;
    margin: auto;
    padding:0px;
    background-color:yellow;
    color: blue;
    background: aqua;
    }
h1 {
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    padding: 0px;
    }
header{
	  font-family: Helvetica, Arial, sans-serif;
    background-color: blueviolet;
    margin: auto;
    padding: 0px;
      }
button{
  background-color: whitesmoke;
  padding: 1px;
  margin: auto;
  box-shadow: inset;
      }
footer{
    background-color: brown;
    margin: auto;
    padding: 1px;
      }
content{
    background-color: aqua;
    margin: auto;
    padding: 1px;
      }
p {
    border: 1px solid powderblue;
    padding: auto;
    margin: auto;
  }
content{
      width:auto;
      height:auto;
      margin: auto;
      border-style: solid;
      border-width: 1px;
      padding:0px;
      background-color: dodgerblue;
      }
footer{
        border-style: solid;
        border-width: 1px;
        width:auto;
        height:auto;
        margin: auto;
        padding:0px;
        text-align: center;
        background-color:yellow;
      }
